<div class="container"  *ngIf="showMsg">
  <p class="alert alert-success">
      <strong>Video added successfully!</strong>
  </p>
</div>

<div class="container">
    <h4>Add New Video link</h4>
    <div class="row">
    
    <div class="col-8 col-dark">
    <div class="form-group-row">
    <label class="col-3 col-form-label"> Video link Name: </label>
      <input class="col-4" [(ngModel)] ="video.videoName" required/>
    </div>
  
    <div class="form-group-row">
        <label  class="col-3 col-form-label"> Video Link: </label>
          <input  class="col-4" [(ngModel)] ="video.link" required/>
        </div>
        
          <div class="form-group-row">
            <label  class="col-3 col-form-label">Type</label>
            <select class="col-4" [(ngModel)] ="video.categoryName">
              <option disabled>Select Type</option>
              <option>Jenkins</option>
              <option>Devops</option>
              <option>Aws</option>
              <option>Linux</option>
              <option>Scripting</option>
              <option>Java</option>
              <option>Maven</option>
              <option>Others</option>
            </select>
          </div>       
    
    <div class="form-group-row">
    <button type="submit" class="btn btn-primary col-2" (click) = "addVideo()" >Save</button>
    </div>
    
    </div>
    
    </div>
    </div>